let mapleader=","
set clipboard+=unnamed
set keep-english-in-normal
set ignorecase
set smartcase
set insearch
set hlsearch
set showmode
set number
set relativenumber
set scrolloff=5
set sidescroll=20
set history=100000
set timeoutlen=1000 ttimeoutlen=0
" ideajoin
set ideajoin
set idearefactormode=keep
" easymotion
set easymotion
" argtextobj
set argtextobj
" ReplaceWithRegister
" commands： gr,grr
set ReplaceWithRegister
" multiple-cursors
" commands: <A-n>,<A-x>,<A-p>,g<A-n>
set multiple-cursors
" surround
" commands: ys,cs,ds
set surround
" highlightedyank
set highlightedyank
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_duration = "-1"
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap L $
nnoremap H ^
" tabs
nnoremap <c-s-h> gT
nnoremap <c-s-l> gt
" Quit visual mode
vnoremap v <Esc>
" Quit insert mode
inoremap jj <Esc>
inoremap jk <Esc>
inoremap kk <Esc>
" built in search looks better
nnoremap / :action Find<CR>
nnoremap <leader>/ /<CR>
" space keymap
nnoremap <leader>ff :action ReformatCode<CR>
" code navigation
nnoremap <leader>sp :action FileStructurePopup<CR>
nnoremap <leader>ga :action GotoAction<CR>
vnoremap <leader>ga :action GotoAction<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>ep :action EditorPopupMenu<CR>
nnoremap <leader>rp :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>rp :action Refactorings.QuickListPopupAction<CR>

nnoremap <leader>gp :action Git.Menu<CR>

nnoremap <leader>dn :action StepOver<CR>
nnoremap <leader>do :action StepOut<CR>
nnoremap <leader>di :action StepInto<CR>



nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap fu :action FindUsages<CR>
nnoremap fp :action FindInPath<CR>
nnoremap <c-o> :action Back<CR>
nnoremap <c-i> :action Forward<CR>
" code refactoring
nnoremap <leader>re :action RenameElement<CR>
" idea actions
nnoremap <leader>l :action ShowIntentionActions<CR>
inoremap <leader>l <Esc>:action ShowIntentionActions<CR>
inoremap <ctrl><CR> :action EditorCompleteStatement<CR>
inoremap <c-v> <Esc>:action $Paste<CR>a
"debugger
nnoremap <leader>dp :action ToggleLineBreakpoint<CR>
" translation
nnoremap <leader>t :action $EditorTranslateAction<CR>
vnoremap <leader>t :action $EditorTranslateAction<CR>
"nnoremap <leader>r :action $TranslateAndReplaceAction<cr>
"vnoremap <leader>r :action $TranslateAndReplaceAction<cr>
" project actions"
nnoremap <leader>v :action SelectInProjectView<CR>
nnoremap <leader>w :action HideAllWindows<CR>
" windows actions
nnoremap <leader>E :action Switcher<CR>

nnoremap <leader>bn :action NextProjectWindow<CR>
nnoremap <leader>bp :action PreviousProjectWindow<CR>
nnoremap <leader>b; :action OpenProjectWindows<CR>
" comment
nnoremap <c-/> :action CommentByLineComment<CR>
vnoremap <c-/> :action CommentByBlockComment<CR>
" javadoc
nnoremap qi :action QuickImplementations<CR>
