" 设置剪切板 与系统相通
set clipboard+=unnamed
"为ideavim插件增加自动切换为英文输入法的功能
set keep-english-in-normal
"把leader设置为空格
" 启用vim surround功能
set surround
set multiple-cursors
set commentary
set argtextob
"搜索忽略大小写 智能匹配大小写
set ignorecase
set smartcase
set insearch
set hlsearch
" 左下角显示当前模式
set showmode
" 显示行号
set number
set relativenumber
" 保持5行在屏幕底部
set scrolloff=5
" 保持10列代码在右边
set sidescroll=20
set history=100000
set ideajoin
set easymotion
set timeoutlen=1000 ttimeoutlen=0



" quit visual mode
vnoremap v <esc>
" quit insert mode
inoremap jj <esc>
inoremap jk <esc>
inoremap kk <esc>

" built in search looks better
nnoremap / :action find<cr>
" space keymap
nnoremap <space>== :action reformatcode<cr>
noremap <space>/ /
nnoremap fp :action findinpath<cr>
nnoremap ga :action gotoaction<cr>
vnoremap ga :action gotoaction<cr>
nnoremap gc :action gotoclass<cr>
noremap gd :action gotodeclaration<cr>
noremap gi :action gotoimplementation<cr>
noremap gf :action gotofile<cr>
noremap gs :action gotosupermethod<cr>
nnoremap fu :action findusages<cr>
nnoremap re :action renameelement<cr>



noremap <c-o> :action back<cr>
noremap <c-i> :action forward<cr>
nnoremap <c-s-h> gt
nnoremap <c-s-l> gt
nnoremap <space>e :action switcher<cr>
" idea actions
nmap <c-u> :action showintentionactions<cr>
imap <c-u> <esc> :action showintentionactions<cr>
imap <ctrl><cr> :action editorcompletestatement <cr>
"debugger
nnoremap <space>bp :action togglelinebreakpoint<cr>
nnoremap <space>sep :action showexecutionpoin<cr>

nnoremap <space>o :action $editortranslateaction<cr>
vnoremap <space>o :action $editortranslateaction<cr>
" 关闭(close)其他的窗口 只剩下vim编辑区域
nnoremap <space>w :action hideallwindows<cr>
"显示javadoc
nnoremap qj :action quickjavadoc<cr>
nnoremap qi :action quickimplementations<cr>
inoremap <c-v> <esc>:action $paste<cr>a

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

nnoremap <c-/> :action commentbylinecomment<cr>
vnoremap <c-/> :action commentbyblockcomment<cr>
nnoremap sp :action filestructurepopup<cr>
