" 设置剪切板 与系统相通
" set clipboard+=unnamed
"为IdeaVim插件增加自动切换为英文输入法的功能
set keep-english-in-normal
"把leader设置为空格
let mapleader = ' '
" 启用vim surround功能
set surround
"搜索忽略大小写 智能匹配大小写
set ignorecase
set smartcase
set insearch
set hlsearch
" 左下角显示当前模式
set showmode
" 显示行号
set number
set relativenumber
" 保持5行在屏幕底部
set scrolloff=5
" 保持10列代码在右边
set sidescroll=20
set history=100000
set ideajoin

" Quit visual mode
vnoremap v <Esc>
" Quit insert mode
inoremap jj <Esc>
inoremap jk <Esc>
inoremap kk <Esc>

" built in search looks better
nnoremap / :action Find<CR>
" space keymap
nnoremap <space>== :ReformatCode<cr>
noremap <Space>/ /
nnoremap fp :action FindInPath<cr>
nnoremap ga :action GotoAction<cr>
nnoremap gc :action GotoClass<CR>
noremap gd :action GotoDeclaration<CR>
noremap gi :action GotoImplementation<CR>
noremap gs :action GotoSuperMethod<CR>
nnoremap fu :action FindUsages<CR>
nnoremap re :action RenameElement<CR>
nnoremap <c-CR> :action EditorSplitLine<cr>
nnoremap <c-s-CR> :action EditorStartNewLineBefore<cr>
noremap <c-s-k> :action Back<CR>
noremap <c-s-j> :action Forward<CR>
nnoremap <c-s-h> gT
nnoremap <c-s-l> gt
nnoremap <space>E :action Switcher<cr>
" idea actions
nmap <c-i> :action ShowIntentionActions<cr>
imap <c-i> <Esc>:action ShowIntentionActions<cr>
imap <ctrl><cr> :action EditorCompleteStatement <cr>
"debugger
nnoremap bp :action ToggleLineBreakpoint<CR>
nnoremap <space>sep :action ShowExecutionPoin<CR>
" 关闭(close)其他的窗口 只剩下vim编辑区域
nnoremap <leader>w :action HideAllWindows<CR>
"显示javadoc
nnoremap qj :action QuickJavaDoc<CR>
inoremap <c-v> <esc>:action $Paste<cr>a
